
.pa-item-date {
  font-size: 12px;
}

.pa-header-today {
 color: var(--ion-color-primary)
}

.pa-header-tomorrow {
 color: var(--ion-color-secondary)
}

.pa-header-later {
  color: var(--ion-color-success)
}