<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="checkmark-circle" large></ion-icon>
      Save Todo Item
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item>
      <ion-label position="floating">Title ww</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Note</ion-label>
      <ion-textarea rows="3"></ion-textarea>
    </ion-item>

  </ion-list>

</ion-content>
